.post-topic {
    margin: 0 4px;
}

body {
    font-family: 'Lato', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.logo-main,
.recent-posts
{
    display: grid;
    justify-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

$color-gray-one: #666666;
$color-gray-two: #B3B3B3;
$color-gray-three: #D8D8D8;
$color-blue-one: #0079FF;

@import './mixins';
@import './searchBar';
@import './recentPosts';
@import './post';
@import './home';
@import './results';