.post-topic {
    margin: 0 4px;
}

body {
    font-family: 'Lato', sans-serif;
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

.home {
    height: 100vh;
    width: 66vw;
    display: grid;
    align-content: space-around;
    // justify-items: stretch;
    // grid-template-rows: 1fr 2fr 1fr;
}

.logo-main,
.recent-posts
{
    display: grid;
    justify-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

$color-gray-one: #666666;
$color-gray-two: #B3B3B3;
$color-blue-one: #0079FF;

@import './searchBar';
@import './recentPosts';